/* App styling */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  overflow: hidden;
}

/* Navbar styling */
.navbar {
  height: 56px; 
}

main {
  flex-grow: 1;
  overflow: hidden; 
}

/* Sidebar styling */
.sidebar-hidden {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar-visible {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

aside {
  width: 400px; 
  height: calc(100vh - 56px); 
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Map styling */
.map-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}
