/* App styling */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  overflow: hidden;
}

main {
  display: flex;
  flex-grow: 1;
  overflow: hidden; 
  align-items: stretch;
}

/* Navbar styling */
.navbar {
  height: 56px; 
}

.custom-navbar-brand {
  cursor: default;
  text-align: center;
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
}

/* Sidebar styling */
aside {
  width: 400px;
  height: calc(100vh - 56px); 
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
}

.sidebar-hidden {
  width: 0;
}

.sidebar-visible {
  width: 400px;
}

/* Map styling */
.map-wrap {
  position: sticky;
  width: 100%;
  height: 100%;
}

.map {
  position:relative;
  width: 100%;
  height: 100%;
}

/* Popup styling */
.leaflet-popup, .leaflet-popup-content-wrapper, .leaflet-popup-content
{
 margin: 0;
}

/* Filter styling */
.input-icon-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 4px;
  pointer-events: auto;
}

.filter-sticky {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 10;
}

.custom-radio {
  background-color: white !important;
  border-color: #dee2e6 !important;
  transition: background-color 0.3s ease;
}

.custom-radio:hover {
  background-color: #f0f0f0 !important;
}

input[type="radio"]:checked + .custom-radio {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}

input[type="radio"]:checked + .custom-radio img {
  filter: brightness(0) invert(1);
}

/* List group styling */
.list-group-item {
  cursor: default;
}

.custom-list-group-item {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-list-group-item:hover {
  background-color: #f0f0f0;
}

/* Button styling*/
.btn {
  transition: background-color 0.3s ease !important;
  margin-left: 1px;
  margin-right: 1px;
}

/* Dropdown item styling*/
.dropdown-item {
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #f0f0f0 !important;
}
