/* App styling */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  overflow: hidden;
}

/* Navbar styling */
.navbar {
  height: 56px; 
}

main {
  flex-grow: 1;
  overflow: hidden; 
}

.custom-navbar-brand {
  text-align: center;
  margin: 0 auto;
  margin-left: 5px;
  margin-right: 5px;
}

/* Sidebar styling */
.sidebar-hidden {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar-visible {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

aside {
  width: 400px; 
  height: calc(100vh - 56px); 
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Map styling */
.map-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Filter styling */
.input-icon-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-55%);
  pointer-events: none;
}

.form-control {
  padding-right: 40px
}

.filter-sticky {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 10;
}